@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/*
Shared Styles
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
    background-color: hsl(0, 0%, 98%);
}

svg {
    cursor: pointer;
}

h1 {
    font-size: 9vw;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    margin-bottom: 25px;
    color:hsl(0, 0%, 41%);
    line-height: 1.4;
}

button {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 8%);
    border-color: 2px solid hsl(0, 0%, 8%);
    border-radius: 10px;
    color: hsl(0, 0%, 98%);
    padding: 14px 27px;
    transition: all 270ms ease-in;
    cursor: pointer;
    margin-bottom: 35px;
}

button:hover {
    color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
}

#container {
    overflow-x: hidden;
}

.svg-translation-1-desktop, .svg-translation-2-desktop {
    transition: all 240ms !important;
}

/*
Moblie - Navigation Panel Styles
*/

header .mobile-design {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 5px 4%;
    margin-bottom: 25px;
}

header .mobile-design #main-logo {
    padding-top: 8.5px;
}

header #menu {
    display: flex;
    position: absolute;
    z-index: 10;
    width: 0;
    min-height: 100vh;
    top: 0;
    right: 0;
    transition: all 100ms ease-out;
    overflow: hidden;
}

header #menu .menu-container-1 {
    flex-basis: 40%;    
    background: #000;
    opacity: 0.65;
}

header #menu .menu-container-2 {
    flex-basis: 60%;
    background: #fff;
    padding: 1.8vh 5.7%;
}

header #menu .menu-container-2 .menu-svg {
    text-align: right;
}

header #menu .menu-container-2 .menu-content {
    text-align: left;
}

header #menu .menu-container-2 .menu-credits {
    text-align: center;
}

header #menu .menu-container-2 .menu-credits p.bordered {
    border: 1.7px solid hsl(0, 0%, 41%);
    border-radius: 14px;
    padding: 10px 6px;
    cursor: pointer;
}

header #menu .menu-container-2 .menu-credits p.bordered:hover {
    color: hsl(0, 0%, 98%);
    background-color: #000;
    border-color: hsl(0, 0%, 41%);
}

header #menu .menu-container-2 p {
    cursor: pointer;
}

header #menu .menu-container-2 p:hover {
    color: #000;
}


/*
Desktop - Navigation Panel Styles
*/

header .desktop-design {
    display: none;
}

/*
Main - Content Styles
*/

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*
Hero - Section Styles
*/
#main #hero-mobile {
    margin-bottom: 50px;
}

#main #hero-mobile img {
    max-width: 100vw;
}

#main #hero-desktop {
    display: none;
}

/*
Main - Content Styles
*/

#main #main-content {
    padding: 0 4%;
}

#main #main-content #logos {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 9%;
    row-gap: 15px;
    color: #ADADAD;
}

#main #main-content #logos .logo {
    transition: all 300ms ease-in;
}

#main #main-content #logos .logo:hover {
    color: #000;
}

/*
    Dialog boxes/dropdowns for the mobile
*/

.inserted-dialog {
    margin-left: 15px;
    display: none;
}

.inserted-dialog p {
    line-height: 0.6;
    font-size: 15.5px;
}

.dialog-container p {
    display: inline;
}


/*
Media Queries
*/

@media (min-width: 900px) {
    header .desktop-design {
        display: block;
        display: flex;
        margin-bottom: 100px;
        justify-content: space-between;
        align-items: center;
        height: 13vh;
        padding: 0 7.8%;
        column-gap: 60px;
    }

    header .desktop-design p {
        cursor: pointer;
        transition: all 300ms ease-in;
    }

    header .desktop-design p:hover {
        color: hsl(0, 0%, 8%);
    }

    header .desktop-design #main-logo-1, header .desktop-txt {
        display: flex;
        column-gap: 30px;
    }

    header .desktop-txt {
        align-items: center;
    }

    header .desktop-txt p.bordered {
        border: 2.5px solid hsl(0, 0%, 41%);
        padding: 6px 10px;
        border-radius: 10px;
    }

    header .desktop-txt p.bordered:hover {
        color: hsl(0, 0%, 98%);
        background-color: hsl(0, 0%, 41%);
    }

    header .mobile-design {
        display: none;
    }

    header #menu {
        display: none;
    }

    main {
        flex-direction: row-reverse;
        width: 100vw;
        column-gap: 8%;
        padding: 0 8%;
        text-align: left;
    }

    #main #hero-mobile {
        display: none;
    }
    
    #main #hero-desktop {
        display: block;
        flex-basis: 50%;
    }
    #main #hero-desktop img {
        width: 100%;
    }

    #main #main-content {
        flex-basis: 50%;
    }

    #main #main-content #logos {
        justify-content: left;
        column-gap: 15px;
    }

    h1 {
        line-height: 0.9;
    }


    dialog {
        display: none;
        border: none;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 5px;
    }

    .dialog-content-container p {
        display: block !important;
        font-size: 14.8px;
        line-height: 0.2;
    }

    #dialog-1-desktop {
        margin-left: 16vw;
        width: 170px;
        height: 170px;
    }

    #dialog-1-desktop svg {
        margin-right: 10px;
        margin-left: 30px;
    }

    #dialog-1-desktop .the-dutiful-p {
        margin-top: 11px;
    }

    #dialog-2-desktop {
        margin-left: 32vw;
        width: 100px;
        height: 100px;
        text-align: center;
    }

    #dialog-2-desktop .the-dutiful-p {
        margin-top: 20px;
    }


}

@media (min-width: 1100px) {
    header .desktop-design {
        column-gap: 70px;
    }

    header .desktop-design #main-logo-1, header .desktop-txt {
        column-gap: 55px;
    }

    main {
        padding-bottom: 50px;
    }

    #main #main-content {
        margin-top: 3%;
    }

}

@media (min-width: 1200px) {
    header .desktop-design {
        column-gap: 80px;
    }

    header .desktop-design #main-logo-1, header .desktop-txt {
        column-gap: 70px;
    }

    main p {
        margin-bottom: 40px;
    }

    main button {
        margin-bottom: 70px;
    }

    #main #main-content #logos {
        column-gap: 25px;
    }
}

@media (min-width: 1350px) {
    #dialog-2-desktop {
        margin-left: 29vw;
    }
}

@media (min-width: 1650px) {
    header .desktop-design {
        column-gap: 90px;
    }

    header .desktop-design #main-logo-1, header .desktop-txt {
        column-gap: 80px;
    }

    #main #main-content {
        margin-top: 100px;
    }
}
